<h3>Instructions</h3>
<ul>
  <li>Find your name below and click the "Mark yourself here" link next to your name.</li>
</ul>

<h3>Students ({{students.length}})</h3>
<ul>
  {{#each students}}
    <li>
      {{name}} ({{email}})<br>
      <a href='/students/{{id}}/attendance'>Mark <b>{{name}}</b> here.</a>
      {{#if weeks.length}}
        <p>Attended weeks:
        {{#each weeks}}
          {{this}},
        {{/each}}
      {{/if}}
      </p>
    </li>
  {{else}}
    <li><em>No students</em></li>
  {{/each}}
</ul>
